

p {
	color:blue
}

   footer {
   	   background-color: #eaeaea;
   }

   header {
   	   background-color: #eaeaea;
   }

   footer span




   <p> ბრა <br> ბრა </p>

   .large-text {color: 
   	font-size:20px }
    
   .title {
   	   font-size: 30px
   }


   #logo-img {
      width:200px
   }
   universaluri seleqtori
   
   * {

   }




